openapi: 3.0.0
info:
  title: AquaManage API
  version: 1.0.0
  description: API for managing aquariums
servers:
  - url: http://api-url.com/v1
    description: The base URL for the AquaManage API

paths:
  /signup:
    post:
      summary: User sign-up
      description: Create a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: User successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  email:
                    type: string
        '400':
          description: Bad request (e.g., missing or invalid fields)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    
  /signin:
    post:
      summary: User sign-in
      description: Authenticate a user and return a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Unauthorized (e.g., incorrect username or password)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
